<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ScriptsPath" value="" />
    <add key="DefaultScript" value="default" />
    <add key="MinifiedIdentifier" value="" />
  </appSettings>
</configuration>